<html>
    <head>
        <title>Miranda's Yo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog, Things I talk in My Head</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post ever</a></h2>
            <p>lalalalalalalal!!!!!</p>
        </div>

        <div>
            <p>published: In space</p>
            <h2><a href="">My second post</a></h2>
            <p>Got nothing.</p>
        </div>
    </body>
</html>
